extends ../template

block title
	title Кто Я!

block content
	section.section.hero
		.filter
		+social('social-top', ['vk', 'github', 'in'])
		.hero__title
			.section-title
				svg(width="100" height="100" class="section-title__pic--portfolio_header")
					use(xlink:href="./assets/images/sprite.svg#portfolio_header")
			.user
				.user-header
					.user-header__image
						img.user-header__avatar(src="./assets/images/me.jpg", alt="my_photo")
					h3.user-header__title Александр Клименко
					.user-header__text
						p Личный сайт веб разработчика
		.hamburger.hero__menu
		.arrow-down
			a.hero__scroll-btn(href="#")
				svg(width="100" height="100" class="hero__scroll-btn--arrow_down")
					use(xlink:href="./assets/images/sprite.svg#arrow_down")
	section.section.about
		.triangle
			svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle__svg")
				polygon(class = "triangle__left" points="0,0   0,86   500.8,86   500.8,75.5")
				polygon(class = "triangle__right" points="1000,0   1000,86   500,86   500,75.5")
		.about__left
			.about__left-title
				h1.block-title Обо мне
					svg(width="100" height="100" class="section-title__pic--about_header")
						use(xlink:href="./assets/images/sprite.svg#about_header")
			.about__left-content
				.user-description
					.user-description__image
						img.user-description__avatar(src="./assets/images/me_big.jpg", alt="my_photo")
					.user-description__title
						h2.block-subtitle Кто я
					.user-description__text.text-content
						p Я веб разработчик из Днепра. Мне 23 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.about__right
			.about__right-title
				.block-subtitle Чем я могу быть вам полезен
			.about__right-text.text-content
				p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.about__right-content
				ul.skills-list
					each item in ['Frontend', 'Backend', 'Workflow']
						li.skills-list__item.skills-row
							h3.skills-row__title #{item}
							ul.skills-row__list
								each skill in ['Html5', 'css3', 'JavaScript']
									li.skills-row__item.skill
										svg.skill__circle.circle(viewBox='0 0 110 110')
											<circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"/>
											<circle r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class="circle__second circle-65"/>
										h4.skill__title #{skill}
	section.section.map
		.google-map
		.map__contacts
			.contacts
				.contacts__title
					.block-subtitle.block-subtitle--map Контакты
				ul.contacts__list
					li.contacts__item
						.contacts-row
							.contacts-row__icon 
								svg(width="100" height="100" class="contacts-row__icon contacts-row__icon--skype")
									use(xlink:href="./assets/images/sprite.svg#skype")
							.contacts-row__content Sasha Klymenko
					li.contacts__item
						.contacts-row
							.contacts-row__icon 
								svg(width="100" height="100" class="contacts-row__icon contacts-row__icon--envelope")
									use(xlink:href="./assets/images/sprite.svg#envelope")
							.contacts-row__content klymenko.sasha21@gmail.com
					li.contacts__item
						.contacts-row
							.contacts-row__icon 
								svg(width="100" height="100" class="contacts-row__icon contacts-row__icon--phone")
									use(xlink:href="./assets/images/sprite.svg#phone")
							.contacts-row__content +38 093 012 08 39
					li.contacts__item
						.contacts-row
							.contacts-row__icon 
								svg(width="100" height="100" class="contacts-row__icon contacts-row__icon--map_marker")
									use(xlink:href="./assets/images/sprite.svg#map_marker")
							.contacts-row__content г.Днепр, ул.Гоголя, д.Х
	footer.map__footer.footer
		.footer__row
			.container
				.footer__col.footer__col-left
					+footerMenu('menu-footer')
				.footer__col.footer__col-right
					+socialBottom('social-bottom')
		.footer__row
			.container
				.footer__col.footer__col-left
					.footer__text
						p Я веб-разработчик из Днепра, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
				.footer__col.footer__col-right
					.footer__text
						p © Клименко Александр | создано с любовью в LoftSchool | 2017
