extends ../template

block title
	title Добро пожаловать!

block content
	.maincontent
		.section.welcome
			.login
				a(class="login__btn login__btn_welcome" href="#") Авторизоваться
			.block-main
				.user-description
					.user-description__image
						img.user-description__avatar(src="assets/images/me.jpg", alt="my_photo")
					.user-description__title Александр Клименко
					.user-description__text.text-content
						p Личный сайт веб разработчика
				+social('social-top', ['vk', 'github', 'in'])
				+welcomeMenu('menu-welcome')
			footer.footer-welcome
				.footer-text
					p © Александр Клименко | создано с любовью в LoftSchool | 2017