extends ../template

block title
	title Добро пожаловать!

block content
	.maincontent
		.section.welcome
			.login
				a(class="login__btn login__btn_welcome" href="#") Авторизоваться
			.block-main
				.user-header
					.user-header__image.user-header__image--welcome
						img.user-header__avatar(src="assets/images/me.jpg", alt="my_photo")
					h3.user-header__title.user-header__title--welcome Александр Клименко
					.user-header__text.user-header__text--welcome
						p Личный сайт веб разработчика
				+social('social-welcome')
				+welcomeMenu('menu-welcome')
			footer.footer-welcome
				.footer-text
					p © Александр Клименко | создано с любовью в LoftSchool | 2017