extends ../template

block title
	title Добро пожаловать!

block content
	.wrapper
		.maincontent
			div(class="welcome-wrapper section")
				.welcom-login
					a.welcome-login_btn(href="#") Авторизоваться
				.welcome-block
					.welcome-block_wrap
						.welcome-block_info
							.info-selfie
								img.info-pic(src="assets/images/me.jpg", alt="my_photo")
							.info-name Александр Клименко
							.info-desc Личный сайт веб разработчика
						+social('top-social', ['vk', 'github', 'in'])
					+welcomeMenu('welcome-nav')
				.welcome-footer
					.footer-text © Александр Клименко | создано с любовью в LoftSchool | 2017