extends ../template

block title
	title Parallax

block content
	section.section-parallax
		.heros__bg
			img(src="./assets/images/bg_welcome.jpg", alt="mountain background" class="hero__bg--img")
		.heros__section
			img(src="./assets/images/portfolio_header.png", alt="portfolio_header" class="heros__section--img")
		.heros__user
			.heros__user-block
				.heros__user-avatar
				.heros__user-name Alex Klymenko
					
	section.section-next