.social-bottom {
	display: flex;
}

.social-bottom__list {
	display: flex;
	justify-content: center;
}

.social-bottom__item {
	display: flex;
	align-items: center;
}

.social-bottom__link {
	margin: 0 rem(13px);
}

.social-bottom__svg {
	fill: #fff;
	opacity: .5;
	transition: .3s ease;

	&-vk {
		width: rem(31px);
		height: rem(17px);
	}

	&-github {
		width: rem(26px);
		height: rem(22px);
	}

	&-in {
		width: rem(24px);
		height: rem(22px);
	}
}

.social-bottom__svg:hover {
	opacity: 1;
	cursor: pointer;
}