.social-welcome__list {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 40px;
}

.social-welcome__item {
    display: flex;
    align-items: center;
}

.social-welcome__svg {
    margin: 0 13px;
    fill: $accent;
    opacity: .5;
    transition: .3s ease;

    &-vk {
        width: 31px;
        height: 17px;
    }

    &-github {
        width: 26px;
        height: 22px;
    }

    &-in {
        width: 24px;
        height: 22px;
    }
}

.social-welcome__svg:hover {
    opacity: 1;
    cursor: pointer;
}