@import 'social-welcome';

.welcome {
    background-image: url('../images/bg_welcome.jpg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//top btn
.login {
    display: flex;
    position: absolute;
    top: 5%;
    right: 7%;
}

.login__btn_welcome {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 25px;
    transition: .3s ease;

    &:hover {
        background: #fff;
        color: $accent;
    }
}

//content block
.block-main {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    opacity: .85;
    overflow: hidden;
    background: #FFFFFF;
}

//block about user
.user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}
//вынести в общий
.user-header__image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.user-header__image--welcome {
    margin-top: 35px;
}
//вынести в общий
.user-header__title {
    font-size: 28px;
    color: #fff;
}

.user-header__title--welcome {
    color: $main;
    padding: 0 48px;
    margin-top: 15px;
}
//вынести в общий
.user-header__text {
    font-weight: 200;
    color: #fff;
    opacity: .8;
    display: flex;
	flex-direction: column;
}

.user-header__text--welcome {
    font-weight: 400;
    color: $main;
}

//footer
.footer-welcome {
    position: absolute;
    bottom: 5%;
}

.footer-text {
    color: #fff;
    font-weight: 200;
}